<div class = "shop row justify-content-center">
    <div class = "shop col-lg-4">
      <%= image_tag shop.image, size: "300x300"%>
    </div>
    <div class = "shop col-lg-7">
      <p>
        <strong>住所</strong><br>
        <%= shop.address %>
      </p>
      <p>
        <strong>電話番号</strong><br>
        <%= shop.phone %>
      </p>
      <p>
        <strong>営業時間</strong><br>
        <%= shop.opneing %>
      </p>
      <p>
        <strong>定休日</strong><br>
        <%= shop.closed %>
      </p>
      <p class = "tags">
        <% shop.tags.each do |tag| %>
        <i class="fas fa-tag"><%= tag.name %></i>
        <% end %>
      </p>
    </div>
  </div>