<div class = "container">
  <div class = "row mt-5">
    <div class= "col">
      <h3>店舗一覧</h3>
    </div>
  </div>
  <div class = "shops row">
    <% @shops.each do |shop| %>
    <div class = "shop-item col-lg-4">
      <% if shop.image.attached? %>
      <%= link_to shop_path(shop.id) do %>
      <%= image_tag shop.image, size: "300x300"%>
      <% end %>
      <% end %>
    </div>
    <div class = "shop-item col-lg-7">
      <h4>
        <%= link_to shop.name, shop_path(shop.id) %>
      </h4>
      <p>
        <strong>住所</strong><br>
        <%= shop.address %>
      </p>
      <p>
        <strong>営業時間</strong><br>
        <%= shop.opneing %>
      </p>
      <p>
        <strong>定休日</strong><br>
        <%= shop.closed %>
      </p>
      <p class = "tags">
        <% shop.tags.each do |tag| %>
        <i class="fas fa-tag"><%= tag.name %></i>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>

