<div class = "container">
  <div class = "row mt-5">
      <h3>店舗一覧</h3>
  </div>
</div>
  <div class = "container">
    <% @shops.each do |shop| %>
    <div class = "row">
      <div class = "col-3">
        <div class = "card-header">
          <%= link_to shop.name, shop_path(shop.id) %>
        </div>
      </div>
    </div>
    <div class = "row">
    <div class = "col-md-3">
      <div class = "card">
        <% if shop.image.attached? %>
        <%= image_tag shop.image %>
        <% end %>
      </div>
    </div>
    <div class = "col-8">
      <ul class = "list-group-item"><%= shop.address %></ul>
      <ul class = "list-group-item"><%= shop.phone %></ul>
      <ul class = "list-group-item"><%= shop.opneing %></ul>
      <ul class = "list-group-item"><%= shop.closed %></ul>
      <% shop.tags.each do |tag| %>
      <ul class = "list-group-item"><%= tag.name %></ul>
      <% end %>
    </div>
    <% end %>
    </div>
    </div>