<div class = "container">
  <div class = "row justify-content-between mt-5">
    <div class = "col-4">
      <h3><%= @shop.name %></h3>
    </div>
    <div class = "col-3">
      <div id = "bookmark_buttons_<%= @shop.id %>">
        <%= render "bookmarks/bookmark", shop: @shop %>
      </div>
    </div>
  </div>

<%= render "shops/list", shop: @shop %>
<div class  = "container">
  <div class = "row justify-content-center">
    <h4>マップ</h4>
  </div>
  <div class ="row justify-content-center">
      <script type="text/javascript">
        function initMap() {
      //latitude,longitudeから位置を特定
          var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: test
                    });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= @shop.address %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

      //Map上の指定した位置にピンを挿して表示する
          var marker = new google.maps.Marker({
                       position:test,
                       map: map,
                       title: contentString
                       });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
          }
      </script>

      <!--自身のAPIキーを取得する-->
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>

      <!--表示するMapのcss-->
      <style type="text/css">
      #map { height: 500px;
             width: 70%;}
      </style>
    <div id="map"></div>
  </div>
</div>

  <div class = "row justify-content-center mt-3">
    <h4>コメント一覧</h4>
  </div>
  <div id = "shop-comment">
    <%= render 'comments/comment', shop: @shop, comments: @comments %>
  </div>
  <div id = "comment-form">
    <%= render 'comments/comment_form', shop: @shop, comment: @comment %>
  </div>
  <div class = "row mt-2 justify-content-center">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class = "col-3">
        <%= link_to "お店を削除する", shop_path(@shop), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
      </div>
      <div class = "col-3">
        <%= link_to "編集する", edit_shop_path(@shop), class: "btn btn-success" %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>