<div class = "container">
  <div class = "row mt-5">
    <h3 class = "col">店舗詳細</h3>
    <div class = "bookmark col">
      <% if @shop.bookmarked_by?(current_user) %>
        <%= link_to shop_bookmarks_path(@shop), method: :delete do %>
        <i class="fa-solid fa-bookmark"></i>
        <% end %>
      <% else %>
        <%= link_to shop_bookmarks_path(@shop), method: :post do %>
        <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>
    </div>
    <% if current_user.admin == true %>
    <%= link_to "編集する", edit_shop_path(@shop), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
 <%= render "shops/list", shop: @shop %>
 <div class  = "container">
   <div class = "row">
     <h4>マップ</h4>
<script type="text/javascript">
  function initMap() {
  //latitude,longitudeから位置を特定
    var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

  //Map上の指定した位置にピンを指して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<!--自身のAPIキーを取得する-->
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<!--表示するMapのcss-->
<style type="text/css">
  #map { height: 200px;
         width: 70%;}
</style>

   </div>
 </div>