<div class = "container">
  <div class = "row mt-5">
    <h3><%= @user.name %>さんのページ</h3>
  </div>

  <div class = "row justify-content-center">
    <h3>ブックマーク一覧</h3>
  </div>
  <div class = "row">
    <% @bookmark_list.each do |shop| %>
    <div class = "shop-item col-lg-4">
      <%= link_to shop_path(shop.id) do %>
      <%= image_tag shop.image, size: "300x300"%>
      <% end %>
    </div>
    <div class = "shop-item col-lg-7">
      <h4>
        <%= link_to shop.name, shop_path(shop.id) %>
      </h4>
      <p>
        <strong>住所</strong><br>
        <%= shop.address %>
      </p>
      <p>
        <strong>営業時間</strong><br>
        <%= shop.opneing %>
      </p>
      <p>
        <strong>定休日</strong><br>
        <%= shop.closed %>
      </p>
      <p>
        <% shop.tags.each do |tag| %>
        <i class="fas fa-tag"><%= link_to tag.name, tag_path(tag.id) %></i>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>

<div class = "row justify-content-center mt-3">
  <h3>コメント一覧</h3>
</div>
<div>
  <%= render 'users/comment', comments: @comments %>
</div>
</div>