<div class = "container">
  <div class = "row mt-5">
    <h3>ログイン</h3>
  </div>
    <div class = "row">
      <div class = "col">
        <p>会員は方はこちらからログイン<p>
      </div>
    </div>

    <%= form_with model: @user, url: user_session_path do |f| %>
    <div class="row">
      <label class = "col-3 ">メールアドレス</label>
      <div class = "field col-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "sample@example.com"%>
      </div>
    </div>

    <div class="row mt-3">
      <label class = "col-3">パスワード</label>
      <div class = "field col-8">
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>
    </div>

    <div class="actions row mt-3 offset-3">
      <%= f.submit "ログイン", class: 'btn btn-primary col-3' %>
    </div>
    <% end %>

  <div class = "row">
    <p class = "col">会員登録がお済みではない方</p>
  </div>
  <div class = "row offset-3">
    <div class = "col">
      <%= link_to "こちら",new_user_registration_path %>から新規登録を行なってください
    </div>
  </div>

  <div class = "row">
    <p class = "col">ゲストログインの方</p>
  </div>
  <div class = "actions row offset-3 ">
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'btn btn-warning' %>
  </div>
</div>
