<!DOCTYPE html>
<html>
  <head>
    <title>ChillCoffee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/04ec7e9717.js" crossorigin="anonymous"></script>
  </head>
  <header>
    <nav class = "navbar navbar-expand-lg navbar-light  border-black border-bottom p-4">
      <div class = "container">
        <div class = "row">
        
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
